extends layout
block content
  #map.map
  header
    .card.search-card
      .search-input
        .input-field
          input.validate(placeholder='Pesquisar')
        .icons
          i.material-icons search
          a.filter.tooltipped(
            data-position='bottom',
            data-relay='50',
            data-tooltip='Filtrar',
            onclick='toggleFilter()'
          )
            i.material-icons filter_list
      #filter.filter-box
        .divider
        .mdl-grid
          .mdl-cell.mdl-cell--4-col
            .subheader Tipos
          .mdl-cell.mdl-cell--8-col
            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='bairro')
              input#bairro.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons border_outer

            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='rua')
              input#rua.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons border_inner

            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='quadra')
              input#quadra.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons border_all

            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='edificacao')
              input#edificacao.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons business

            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='onibus')
              input#onibus.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons directions_bus

            label.mdl-icon-toggle.mdl-js-icon-toggle.mdl-js-ripple-effect(for='rio')
              input#rio.mdl-icon-toggle__input(type='checkbox')
              |
              i.mdl-icon-toggle__label.material-icons gesture

  .fixed-action-btn.horizontal.click-to-toggle
    a.btn-floating.btn-large.blue-grey
      i.material-icons add
    ul
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Mapa',
          onclick='insertObject("Polygon", this)')
          i.material-icons map
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Bairro',
          onclick='insertObject("Polygon", this)')
          i.material-icons border_outer
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Rua',
          onclick='insertObject("LineString", this)')
          i.material-icons border_inner
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Quadra',
          onclick='insertObject("Polygon", this)')
          i.material-icons border_all
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Edificações',
          onclick='insertObject("Polygon", this)')
          i.material-icons business
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Ponto de ônibus',
          onclick='insertObject("Point", this)')
          i.material-icons directions_bus
      li
        a.btn-floating.lighten-5.tooltipped(
          data-position='top',
          data-relay='50',
          data-tooltip='Rio',
          onclick='insertObject("MultiLineString", this)')
          i.material-icons gesture

  script(src='/scripts/openlayers.js')
