.search-input
    .input-field
        input.validate(
          placeholder='Pesquisar'
          ng-model='vm.searchInput'
          ng-change='vm.searchFeatures()'
        )
    .icons
        i.material-icons search
        a.filter.tooltipped(
            data-position='bottom',
            data-relay='50',
            data-tooltip='Filtrar',
            ng-click='vm.isFiltering = !vm.isFiltering'
        )
            i.material-icons filter_list
